div.detail-news{
    display: flex;
    margin: auto;
    max-width: 1790px;
    justify-content: center;
    padding: 40px;
}

div.detail-middle{
    display: unset;
    max-width: 607px;
}

.breadcrumb {
    display: flex;
}

.breadcrumb-arrow {
    font-size: 16px;
    margin: 4px 5px;
    line-height: 16px;
}

.breadcrumb a {
    color: #8A8F8C;
    font-weight: 500;
    font-size: 14px;
    margin: 0px 4px;
}

.breadcrumb p {
    margin: 0px 4px;
    color: #16221B;
    font-size: 14px;
    font-weight: 500;
}

.container-bottom {
    display: flex;
    justify-content: center;
    max-width: 1168px;
}

div.box-info-detail  > div{
    max-width: 368px;
}

.type-detail{
    display: flex;
    margin: 32px 0 16px 0;
}

.type-detail p:first-child {
    background: #00923F;
    border-radius: 2px;
    color: #FFFFFF;
    padding: 2px 8px;
    margin: 0px 16px 0 0;
}

.type-detail p:nth-child(2) {
    color: #16221B;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.title-detail p{
    font-weight: 600;
    font-size: 24px;
    margin: 16px 0px;
    color: #16221B;
}

.sub-title-detail p {
    font-weight: 600;
    font-size: 16px;
    color: #16221B;
}

.content-detail p {
    font-size: 16px;
    color: #16221B;
    margin: 16px 0px;
}
