.detail-news {
    display: flex;
    margin: auto;
    max-width: 1790px;
    justify-content: center;
    background: #F4F5F5;
    padding: 40px;
}

.container-left-bottom a {
    padding: 12px;
    color: #8A8F8C;
}

.container-left-bottom a:hover {
    background: #FFFFFF;
    color: #16221B;
}

.container-left-bottom {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.container-left {
    display: flex;
    justify-content: left;
    flex-direction: column;
    min-width: 267px;
    margin: 0 24px;
}

.container-middle {
    display: flex;
    justify-content: center;
    max-width: 868px;
}

.title-left {
    color: #16221B;
    font-size: 32px;
    font-weight: 800;
}

.short-title {
    color: #16221B;
    font-size: 16px;
}

.small-date {
    color: #8A8F8C;
    font-size: 14px;
}

.type-news {
    color: #FFFFFF;
    background: #2F3A4A;
    margin: 8px 0 8px 16px;
    padding: 4px 12px 6px;
}

.box-info > div {
    max-width: 279px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    background: #FFFFFF;
    margin: 8px;
    border-radius: 4px;
}

.box-info {
    padding: 0px;
}

.box-bottom {
    margin: 0 16px;
}

.short-desc {
    color: #16221B;
}