.white-top {
    width: 100%;
    background: #FFFFFF;
    border-top: 1px solid #eee;
}
.tournaments {
    .flexGroup5.flexCenter2 {
        padding-bottom: 50px;
    }
    .slick-list{
        color: #8A8F8C;
        .slick-slide {
            padding: 24px 0px;
            text-align: center;
            h3 {
                color: #8A8F8C;
            }
        }
        .slick-current {
            h3 {
                color: #16221B;
            }
            border-bottom: 3px solid #00AE4B;
        }
    }
    .main-title {
        h3 {
            color: #16221B;
            font-size: 32px;
            margin: 16px;
            text-align: center;
            font-weight: 800;
        }
    }
    .top {
        background: #FFFFFF;
        width: 1410px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        @include breakpoint(xs) {
            width: 100%;
        }
    }
    .box-info {
        a {
            border-radius: 4px;
            overflow: hidden;
            background: #ffffff;
            display: table-caption;
        }
        margin: 16px;
        &-top {
            position: relative;
            &-time {
                background: #00923F;
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 8px 20px;
                p {
                    color: #FFFFFF;
                    padding: 0;
                    margin: 0;
                    font-weight: 600;
                    font-size: 16px;
                    &:first-child {
                        font-size: 14px;
                        opacity: 0.5;
                    }
                }
            }
        }
        &-bottom {
            background: #FFFFFF;
            p {
                font-size: 24px;
                color: #16221B;
                margin: 10px 20px;
            }
        }
    }
}
.tournaments-detail {
    border-bottom: 1px solid #eee;
    .container {
        width: 100%;
        padding: 0;
    }
    @include breakpoint(xs) {
        padding: 0 20px;
    }
    background: #FFFFFF;
    .top-detail {
        display: flex;
        width: 1150px;
        margin: auto;
        padding: 25px 0;
        @include breakpoint(xs) {
            width: 100%;
            flex-direction: column;
        }
    }
    .breadcrumb-top {
        padding: 36px;
        span {
            color: #FFFFFF;
            a {
                color: #FFFFFF;
                font-weight: 500;
                font-size: 14px;
                font-style: normal;
            }
        }
        h2{
            font-size: 32px;
            color: #FFFFFF;
            font-weight: 800;
        }
    }
    .ant-tabs-nav-wrap {
        border-bottom: 1px solid #eee;
    }
    .ant-tabs-top {
        .ant-tabs-nav::before {
            border-bottom: unset;
        }
        .ant-tabs-nav-wrap {
            justify-content: center;
            font-weight: 500;
            font-size: 16px;
            @include breakpoint(xs) {
                justify-content: unset;
            }
        }
        .ant-tabs-tab-active {
            div.ant-tabs-tab-btn {
                color: #16221B;
                font-weight: 500;
                font-size: 16px;
            }
        }
        div.ant-tabs-tab-btn {
            color: #8A8F8C;
            font-weight: 500;
            font-size: 16px;
        }
    }
    .tab1 {
        width: 1150px;
        margin: auto;
        padding-bottom: 50px;

        @include breakpoint(xs) {
            width: 100%;
        }
        &-top{
            &-row {
                display: flex;
                border-bottom: 1px solid #eee;
                padding: 16px 0px;
                @include breakpoint(xs) {
                    overflow: auto;
                }
            }
            &-1 {
                margin: auto;
                min-width: 250px;
                p {
                    padding: 0 20px;
                }
            }
        }
        p.text-bottom {
            font-size: 16px;
            color: #16221B;
            margin: 32px 0px;
        }
        .tab1-col2 {
            @include breakpoint(xs) {
                flex-direction: column;
            }
        }
        .tab1-col2:first-child {
            margin: 32px 0px 0 0;
            p {
                font-weight: 600;
            }
        }
        .tab1-col2-col {
            border-bottom: 1px solid #eee;
            min-width: 400px;
            margin: 8px 20px;
            border-radius: 4px;
            @include breakpoint(xs) {
                width: 100%;
                min-width: unset;
                margin: 8px 0;
            }
            p {
                font-size: 20px;
                font-weight: 300;
            }
            img {
                border-radius: 4px 0 0 4px;
            }
        }
        p.date {
            color: #16221B;
            font-weight: 600;
            font-size: 20px;
        }
        .right-img {
            border-radius: 0 4px 4px 0;
            background: #F4F5F5;
            flex-direction: column;
            p {
                margin-bottom: 10px;
            }
            ul {
                width: 100%;
                justify-content: center;
                border-bottom: 1px dotted #ddd;
                padding-bottom: 13px;
            }
            li {
                margin: 0 13px;
                font-size: 14px;
                color: #16221B;
            }
            .right-img-bottom {
                margin: 0 10px;
                &-1 {
                    display: flex;
                    p {
                        padding: 0 5px;
                        font-weight: 600;
                        font-size: 18px;
                        color: #16221B;
                    }
                    p.score {
                        font-weight: bold;
                        font-size: 20px;
                        color: #00923F;
                    }
                }
                &-2 {
                    display: flex;
                    justify-content: center;
                    p {
                        font-weight: 500;
                        font-size: 14px;
                        color: #00923F;
                    }
                }
                &-3 {
                    display: flex;
                    justify-content: center;
                    p:first-child {
                        border-right: 1px solid #eee;
                        padding-right: 5px;
                    }
                    p {
                        font-size: 16px;
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}
