.main {
    .ant-carousel .slick-dots {
        justify-content: flex-end;
        margin-right: 5%;
        margin-left: -5%;
    }
    &-top{
        height: 480px;
        border-radius: 4px;
        margin-top: 16px;
        @include breakpoint(max-xs){
            height: auto;
        }
        @include breakpoint(max-xs){
            margin-left: -16px;
            margin-right: -16px;
            margin-top: 0;
            border-radius: 0;
        }
        .slide {
            height: 100%;
            &-main {
                position: relative;
                border-radius: 4px;
                @include breakpoint(max-xs){
                    border-radius: 0;
                }
                img{
                    border-radius: 4px;
                    height: 480px;
                    width: 100%;
                    object-fit: cover;
                    @include breakpoint(max-xs){
                        border-radius: 0;
                        height: 320px;
                    }
                }
            }
            &-bg {
                position: absolute;
                border-radius: 4px;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(22, 34, 27, 0) 55.65%, rgba(22, 34, 27, 0.6) 65.91%, #16221b 100%);
            }
            &-content {
                position: absolute;
                z-index: 2;
                bottom: 32px;
                left: 32px;
                .slide-content-top {
                    display: flex;
                    .new {
                        background: linear-gradient(90deg, #00923f -0.84%, #00ae4b 100%);
                        border-radius: 2px;
                        padding: 2px 8px;
                    }
                    span {
                        color: white;
                    }
                }
                .slide-content-bot {
                    width: 400px;
                    @include breakpoint(max-xs){
                        margin-bottom: 10px;
                    }
                    @include breakpoint(max-xs){
                        width: 300px;
                    }
                    span {
                        font-size: 20px;
                        color: white;
                        @include breakpoint(max-xs){
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .noti{
            background: #FFFFFF;
            border-radius: 4px;
            padding: 16px;
            height: 480px;
            overflow-y: hidden;
            @include breakpoint(max-xs){
                border-radius: 0;
            }
            &-header{
                box-shadow: inset 0px -1px 0px #ECECEC;
                padding-bottom: 16px;
                span{
                    color: #FA8C16;
                    font-weight: 800;
                    font-size: 20px;
                    margin-left: 8px;
                }
            }
            &-body{
                &-content{
                    padding: 12px;
                    box-shadow: inset 0px -1px 0px #ECECEC;
                }
            }
        }
    }
    &-middle{
        margin: 30px 0 50px 0;
        @include breakpoint(max-xs){
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .title{
            @include breakpoint(max-xs){
                text-align: center;
            }
        }
        .news{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
            @include breakpoint(max-xs){
                display: block;
            }
            .new{
                padding: 16px;
                border-radius: 4px;
                width: 33.333%;
                height: 394px;
                margin-bottom: 8px;
                @include breakpoint(max-xs){
                    width: 100%;
                    height: auto;
                    padding: 8px;
                }
                img{
                    width: 100%;
                    border-radius: 4px 4px 0 0;
                }
                &-content{
                    width: 100%;
                    background-color: #FFFFFF;
                    padding: 16px 16px 8px 16px;
                    border-radius: 0 0 4px 4px;
                    .tag{
                        background: #2F3A4A;
                        border-radius: 2px;
                        padding: 2px 8px;
                        display: initial;
                        span{
                            color: white;
                        }
                    }
                }
            }
        }
    }
    &-bot {
        background-color: #ffffff;
        border: 1px solid #ececec;
        &-partner {
            img {
                margin: 0 10px;
            }
            padding-bottom: 40px;
            @include breakpoint(max-xs){
                display: none;
            }
            &-mobile{
                display: none;
                @include breakpoint(max-xs){
                    display: flex;
                    flex-wrap: wrap;
                    .imgs{
                        img{
                            width: 50%;
                            padding: 16px;
                        }
                    }
                }
            }
        }
    }
}
