.pageAboutUs {
  background: #ffffff;
  padding: 0 0 40px 0;
  .banner {
    position: relative;
    height: 320px;
    @include breakpoint(xs){
      height: 200px;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translate(-50%, -50%);
      h2,
      a,
      .ant-breadcrumb-separator {
        color: $white-1;
      }
      h2 {
        font-size: 32px;
      }
    }
  }
  .menu {
    background: #ffffff;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    @include breakpoint(xs){
      overflow-x: auto;
    }
    &Item {
      padding: 20px;
      cursor: pointer;
      border-bottom: 3px solid transparent;
      transition: 0.3s;
      @include breakpoint(xs){
        flex-shrink: 0;
        padding: 15px 8px;
      }
      span {
        font-size: 16px;
        color: #8a8f8c;
      }
      &.active {
        border-bottom: 3px solid green;
      }
      &:hover {
        border-bottom: 3px solid green;
      }
    }
  }
  .content {
    margin-top: 48px;
    .aboutUsContent {
      display: flex;
      @include breakpoint(xs) {
        display: block;
      }
      .image {
        width: 40%;
        margin-right: 20px;
        @include breakpoint(xs) {
          width: 100%;
          margin-right: 0;
        }
        img {
          width: 100%;
        }
      }
      .text {
        width: 60%;
        margin-left: 20px;
        font-size: $size-20;
        color: #16221b;
        @include breakpoint(xs) {
          width: 100%;
          margin-left: 0px;
        }
        p{
          font-size: $size-20;
        }
      }
    }
    .aboutUsHistory {
      width: 768px;
      margin: 0 auto;
      @include breakpoint(xs){
        width: 100%;
      }
      .image {
        margin-bottom: 30px;
        img {
          object-fit: cover;
          width: 100%;
        }
      }
      .text {
        p {
          color: $black-primary;
          font-size: $size-20;
        }
      }
    }
    .aboutUsMandate {
      display: flex;
      @include breakpoint(xs) {
        display: block;
      }
      .image {
        margin-right: 60px;
        width: 40%;
        @include breakpoint(xs) {
          margin-right: 0px;
          width: 100%;
        }
        img {
          object-fit: cover;
          width: 100%;
        }
      }
      .text {
        width: 60%;
        @include breakpoint(xs) {
          width: 100%;
        }
        ul {
          list-style-type: decimal;
          li {
            font-weight: 400;
          }
        }
        p,
        li {
          font-size: $size-20;
          color: $black-primary;
        }
      }
    }
    .organizationalStructure {
      .image {
        text-align: center;
        img {
          object-fit: cover;
        }
        @include breakpoint(xs) {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
