.pageAlbum{
  margin-bottom: 100px;
  .news{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    @include breakpoint(max-xs){
      display: block;
    }
    .new{
      padding: 16px 8px;
      border-radius: 4px;
      width: 33.333%;
      margin-bottom: 8px;
      @include breakpoint(max-xs){
        width: 100%;
        height: auto;
        padding: 8px;
      }
      &-content{
        width: 100%;
        background-color: #FFFFFF;
        padding: 8px 16px 8px 16px;
        border-radius: 0 0 4px 4px;
        .tag{
          background: #2F3A4A;
          border-radius: 2px;
          padding: 2px 8px;
          display: initial;
          span{
            color: white;
          }
        }
        &-img{
          width: 100%;
          background-color: #FFFFFF;
          img{
            width: 100%;
            border-radius: 4px 4px 0 0;
            padding: 12px;
          }
        }
      }
    }
  }
}