.pageClub{
  &Menu{
    text-align: center;
    background: white;
    padding-top: 40px;
    h2.title{
      font-weight: 800;
      font-size: 32px;
    }
    .menu {
      background: #ffffff;
      display: flex;
      justify-content: center;
      @include breakpoint(xs){
        overflow-x: auto;
      }
      &Item {
        padding: 20px;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        transition: 0.3s;
        @include breakpoint(xs){
          flex-shrink: 0;
          padding: 15px 8px;
        }
        span {
          font-size: 16px;
          color: #8a8f8c;
        }
        &.active {
          border-bottom: 3px solid green;
        }
        &:hover {
          border-bottom: 3px solid green;
        }
      }
    }
  }
  &Content{
    .listClub{
      width: 968px;
      margin: 0 auto;
      padding: 30px 0;
      @include breakpoint(xs){
        width: 100%;
      }
      .itemClub{
        display: flex;
        background: white;
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 20px;
        @include breakpoint(xs){
          display: block;
        }
        .image{
          width: 40%;
          img{
            width: 100%;
            object-fit: cover;
          }
          @include breakpoint(xs){
            width: 100%;
          }
        }
        .text{
          width: 60%;
          padding: 15px;
          @include breakpoint(xs){
            width: 100%;
          }
          .nameClub{
            font-weight: 700;
            font-size:$size-24;
            color: $black-primary;
          }
          .info{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
            @include breakpoint(xs){
              display: block;
            }
            .itemInfo{
              width: 50%;
              span{
                color: #8A8F8C;
              }
              @include breakpoint(xs){
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}