.pageNew{
  padding: 40px 0;
  &Content{
    display: flex;
    @include breakpoint(xs) {
      display: block;
    }
  }
  .contentLeft{
    display: flex;
    justify-content: left;
    flex-direction: column;
    min-width: 267px;
    margin: 0 24px;
    @include breakpoint(xs) {
      margin: 0;
    }
    h2{
      font-size: 32px;
    }
    span {
      padding: 12px;
      color: #8A8F8C;
      transition: 0.3s;
      border-radius: 4px;
      margin-bottom: 10px;
      cursor: pointer;
      font-size: 16px;
      &:hover{
        background: #FFFFFF;
        color: #16221B;
      }
      &.active{
        background: #FFFFFF;
        color: #16221B;
      }
    }
    .container-left-bottom {
      display: flex;
      justify-content: left;
      flex-direction: column;
    }

  }

}

.pageNewDetail{
  background: #ffff;
  padding: 40px 0;
  &Content{
    display: flex;
    @include breakpoint(xs) {
      display: block;
    }
    .contentLeft{
      width: 25%;
      margin-right: 30px;
      @include breakpoint(xs) {
        display: none;
      }
      img{
        width: 100%;
      }
    }
    .contentRight{
      width: 45%;
      margin-right: 30px;
      @include breakpoint(xs) {
        width: 100%;
      }
      .infoNew{
        margin-top: 25px;
        margin-bottom: 10px;
        display: flex;
        .tag{
          margin-right: 10px;
        }
      }
      .content{
        h1.title{
          font-size: 24px;
        }
        img{
          margin-bottom: 10px;
          width: 100%;
        }
        h2{
          font-weight: 600;
        }
        h2, p{
          font-size: $size-16;
        }
        p{
          font-weight: 400;
        }
      }
    }
  }
}

.listNew{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  @include breakpoint(xs) {
    display: block;
  }
  .itemNew{
    width: calc(100% / 3);
    padding: 0 10px;
    margin-bottom: 16px;
    @include breakpoint(xs) {
      width: 100%;
    }
    &Content{
      border-radius: 4px;
      overflow: hidden;
      background: $white-1;
      display: inline-block;
      p{
        margin-bottom: 5px;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
      .text{
        padding: 10px;
        .ant-tag{
          margin-bottom: 10px;
        }
        .short-desc{
          font-size: $size-16;
          color: #16221B;
        }
        .date{
          color:#8A8F8C ;
          font-size: $size-14;
        }
      }
    }
  }
}

