footer {
    background-color: #ffffff;
    .footer {
        padding: 48px 0 48px 0;
        @include breakpoint(max-xs){
            padding: 24px 0 24px 0;
        }
        .contentLogo{
            img{
                width: 100px;
                height: 100px;
                margin-bottom: 20px;
                @include breakpoint(max-xs){
                    width: 140px;
                    height: 140px;
                }
            }
        }
        .textLogo {
            color: #858585;
            @include breakpoint(max-xs){
                font-size: 26px;
            }
        }
        .text-header {
            color: #16221b;
        }
        .text-body {
            color: #16221b;
        }
    }
    .copyright {
        display: flex;
        justify-content: center;
        //background: url('../../image/BottomLine-bg.png');
    }
}

.footerTitle{
    @include breakpoint(max-xs){
        margin-top: 20px;
    }
}
