.header-bot {
    padding: 20px 0;
    @include breakpoint(max-xs){
        padding: 12px 0;
    }
    span {
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 500;
        font-size: 18px;
    }
    .logo {
        margin: 0 20px 0 0;
        width: 80px;
        height: 80px;
        @include breakpoint(max-xs){
            width: 64px;
            height: 64px;
        }
    }

    .ant-btn {
        color: #8a8f8c;
        border: none;
        box-shadow: none;
        font-weight: 500;
        &:hover {
            color: black;
            border: none;
        }
        &:active {
            color: black;
            border: none;
        }
        &:focus {
            color: black;
            border: none;
            box-shadow: none;
            outline: none;
        }
    }
    .textNav {
        padding: 0 5px;
    }
    .active {
        color: black;
    }
}

.scrollHeader{
    position: fixed;
    z-index: 1000;
    background-color: white;
    width: 100%;
    margin-top: -32px;
}

.header {
    .textLogo {
        color: #00923f;
        font-size: 22px;
        @include breakpoint(max-xs){
            font-size: 14px;
        }
    }
    background-color: #ffffff;
    &-nav-desktop{
        @include breakpoint(max-xs){
            display: none;
        }
    }
    &-nav-mobile{
        display: none;
        @include breakpoint(max-xs){
            display: block;
        }
    }
}
.header-top {
    display: flex;
    justify-content: center;
}

.logoNavMobile{
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.buttonNav {
    padding: 0 16px;
}

.drawerNav{
    display: flex;
    justify-content: space-between;
    .ant-btn {
        color: #8a8f8c;
        border: none;
        box-shadow: none;
        font-weight: 500;
        &:hover {
            color: black;
            border: none;
        }
        &:active {
            color: black;
            border: none;
        }
        &:focus {
            color: black;
            border: none;
            box-shadow: none;
            outline: none;
        }
    }
    .textLogo{
        color: #00923f;
        font-size: 12px;
    }
}

.ant-drawer-header{
    padding: 8px 16px 4px 16px;
}

.navMobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .ant-btn {
        color: #8a8f8c;
        border: none;
        box-shadow: none;
        font-weight: 500;
        &:hover {
            color: black;
            border: none;
        }
        &:active {
            color: black;
            border: none;
        }
        &:focus {
            color: black;
            border: none;
            box-shadow: none;
            outline: none;
        }
    }
    .textNav{
        padding: 0 8px;
        font-size: 20px;
    }
    .active {
        color: black;
    }
    a{
        padding-left: 90px;
        margin-bottom: 25px;
    }
}

.ant-drawer-body{
    margin-top: -80px;
    padding: 0;
    display: flex;
}
